extends ../layouts/index

block content 
    div(style={'font-size':'16', marginTop:40, width:'85%', margin:'auto', marginBottom:40}) 
        div(style={'font-size':'26', 'font-weight':'bold'}) 
            p
                |Olá
                br
                |#{name},
                br
                |tudo bem?
        div(style={'font-size':'16', 'font-weight':'bold'})
            |Parábens pela decisão de se tornar parceiro da melhor e mais completa solução de pagamentos e Software de gestão do Brasil.
        br
        div(style={'font-size':'17'})
            |Um sistema de gestão tem que ser completo, não é? Confira abaixo algumas ferramentas da nossa solução:
        br
        table(style={background:'white', width:'100%', marginTop:20, marginBottom:50, border:'none'})
            tr
                td(style={width:'50%'})
                    table(style={background:'white', width:'100%', border:'none'})
                        tr(style={'display':'flex'})
                            td(style={'width':'12%', 'align-self':'center'})
                                img(src="https://z-systems-bucket.s3.sa-east-1.amazonaws.com/files/estabelecimentos/logos/1.png")
                            td(style={'width':'88%', 'align-self':'center', 'font-size':'17', 'font-weight':'bold'})
                                |Melhores taxas do mercado
                td(style={width:'50%'})
                    table(style={background:'white', width:'100%', border:'none'})
                        tr(style={'display':'flex'})
                            td(style={'width':'12%', 'align-self':'center'})
                                img(src="https://z-systems-bucket.s3.sa-east-1.amazonaws.com/files/estabelecimentos/logos/6.png")
                            td(style={'width':'88%', 'align-self':'center', 'font-size':'17', 'font-weight':'bold'})
                                |Controle de estoque             
            tr
                td(style={width:'50%'})
                    table(style={background:'white', width:'100%', border:'none'})
                        tr(style={'display':'flex'})
                            td(style={'width':'12%', 'align-self':'center'})
                                img(src="https://z-systems-bucket.s3.sa-east-1.amazonaws.com/files/estabelecimentos/logos/2.png")
                            td(style={'width':'88%', 'align-self':'center', 'font-size':'17', 'font-weight':'bold'})
                                |Cadastro de clientes (lembretes de aniversários)
                td(style={width:'50%'})
                    table(style={background:'white', width:'100%', border:'none'})
                        tr(style={'display':'flex'})
                            td(style={'width':'12%', 'align-self':'center'})
                                img(src="https://z-systems-bucket.s3.sa-east-1.amazonaws.com/files/estabelecimentos/logos/7.png")
                            td(style={'width':'88%', 'align-self':'center', 'font-size':'17', 'font-weight':'bold'})
                                |Cadastro e consulta de VENDAS                          
            tr
                td(style={width:'50%'})
                    table(style={background:'white', width:'100%', border:'none'})
                        tr(style={'display':'flex'})
                            td(style={'width':'12%', 'align-self':'center'})
                                img(src="https://z-systems-bucket.s3.sa-east-1.amazonaws.com/files/estabelecimentos/logos/3.png")
                            td(style={'width':'88%', 'align-self':'center', 'font-size':'17', 'font-weight':'bold'})
                                |Clear Check
                td(style={width:'50%'})
                    table(style={background:'white', width: '100%',border: 'none'})
                        tr(style={'display':'flex'})
                            td(style={'width':'12%', 'align-self':'center'})
                                img(src="https://z-systems-bucket.s3.sa-east-1.amazonaws.com/files/estabelecimentos/logos/8.png")
                            td(style={'width':'88%', 'align-self':'center', 'font-size':'17', 'font-weight':'bold'})
                                |Emissão de NF-e e NFS-e          
            tr
                td(style={width:'50%'})
                    table(style={background:'white', width: '100%',border: 'none'})
                        tr(style={'display':'flex'})
                            td(style={'width':'12%', 'align-self':'center'})
                                img(src="https://z-systems-bucket.s3.sa-east-1.amazonaws.com/files/estabelecimentos/logos/4.png")
                            td(style={'width':'88%', 'align-self':'center', 'font-size':'17', 'font-weight':'bold'})
                                |Contas à pagar com armazenamento de comprovantes
                td(style={width:'50%'})
                    table(style={background:'white', width: '100%',border: 'none'})
                        tr(style={'display':'flex'})
                            td(style={'width':'12%', 'align-self':'center'})
                                img(src="https://z-systems-bucket.s3.sa-east-1.amazonaws.com/files/estabelecimentos/logos/9.png")
                            td(style={'width':'88%', 'align-self':'center', 'font-size':'17', 'font-weight':'bold'})
                                |Cadastro de equipe de consultores com acesso individual
            tr
                td(style={width:'50%'})
                    table(style={background:'white', width: '100%',border: 'none'})
                        tr(style={'display':'flex'})
                            td(style={'width':'12%', 'align-self':'center'})
                                img(src="https://z-systems-bucket.s3.sa-east-1.amazonaws.com/files/estabelecimentos/logos/5.png")
                            td(style={'width':'88%', 'align-self':'center', 'font-size':'17', 'font-weight':'bold'})
                                |Multi formas de pagamento
                                br
                                div(style={'font-size':'15', 'font-weight':'bold'})
                                    |(Cheque, cartão, link de pagamento, recorrência, boleto, dinheiro e consignado)
                td(style={width:'50%'})
                    table(style={background:'white', width: '100%',border: 'none'})
                        tr(style={'display':'flex'})
                            td(style={'width':'12%', 'align-self':'center'})
                                img(src="https://z-systems-bucket.s3.sa-east-1.amazonaws.com/files/estabelecimentos/logos/10.png")
                            td(style={'width':'88%', 'align-self':'center', 'font-size':'17', 'font-weight':'bold'})
                                |Meta de vendas                 
        br
        br
        div(style={'font-size':'15', 'text-align': 'center'})
            |Assim que seu cadastro for aprovado você receberá um e-mail para então ter acesso à todas essas ferramentas.