extends ../layouts/index

block content 
    div(style={marginTop:40, width:'85%', margin:'auto', marginBottom:40}) 
        p
            |Olá #{name}, tudo bem?
        br
        |Seu cadastro foi realizado com sucesso!
        br
        br
        h3 Dados para acesso:
        p
            |E-mail: #{email}
            br
            br
            |Senha: #{password}
        br
        br